a:hover{
	text-decoration: none;
}
.menu-area{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	/*background-color: red;*/
	transition: 0.4s;
	border-bottom: 1px solid white;
}
.menu-area-bg{
	background: #ff8d00;
	border-bottom: 0px solid white;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);

}
.menu-toggle{
	position: absolute;
	top: 15px;
	right: 25px;
	display: none;
}

.logo h1{
	color: white;
	padding: 16px 0px;

}
.main-menu ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: right;
}
.main-menu ul li{
	display: inline-block;
}
.main-menu ul li a{
	display: block;
	color: white;
	padding: 25px 30px;
	font-size: 20px;
	font-weight: bold;
	
}
.main-menu ul li a:hover{
	background: #007bff5e;
	text-decoration: none;
}

.single-slide{
	position: relative;
	height: 90vh;

}

.single-slide-content{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
	color: white;
	/*z-index: 2;*/

}
.single-slide-content h1{
	font-size: 60px;
}
.single-slide-content h3{
	font-size: 40px;
}
.single-slide-content .slider-btn{
	margin-top: 20px;
}
.single-slide-content ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.single-slide-content ul li{
	display: inline-block;
}
.single-slide-content ul li a{
	display: block;
	padding: 15px 40px;
	background: #ff8d00;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 5px;
	color: white;
}



.slider-1{
	background: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("img-1.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	
}
.slider-2{
	background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img-2.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}
.slider-3{
	background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img-3.jpg") no-repeat;	
	background-position: center;
	background-size: cover;
}










@media (min-width: 0px) and (max-width: 768px){
	.main-menu{
		display: none;
	}
	.menu-toggle{
		display: block;
		z-index: 10000;
	}
	.main-menu{
		background: #ff8d00;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.main-menu ul li{
		display: block;
		text-align: left;
	}
	.main-menu ul li a{
		padding: 10px 40px;

	}
	.single-slide h1{
		font-size: 25px;
	}
	.single-slide h3{
		font-size: 20px;
	}
	.single-slide-content ul li a{
		padding: 10px 10px;
		font-size: 18px;
		font-weight: normal;
		letter-spacing: 2px;
	}
	
	.slider-1{
		background-position: left;
	}
	.slider-2{
		background-position: right;
	}
	.slider-3{
		background-position: right;
		
	}

	
}
